*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #61677A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vh;
    margin-left: auto;
}

.header {
    text-align: center;
    background-color: #272829;
    height: 20%;
    border-radius: 10px;
    padding: 1%;
    width: 94%;
    margin: 2%;
    grid-column: 2;
}

h1 {
    color: #D8D9DA;
    font-size: 5vh;
}

#header-div {
    margin: 2%;
}

input {
    border-radius: 5px;
    border-color: #272829;
    border-style: solid;
    padding: 4px 5px;
}

#header-input{
    width: 30%;
    max-width: 35%;
    padding: 1vh 1.25vh;
    font-size: medium;
}

button {
    border-radius: 5px;
    padding: 4px 5px;
    border-color: #252B48;
    border-style: solid;
    background-color: #252B48;
    cursor: pointer;
    color: #D8D9DA;
    font-weight: bold;
}

button:hover{
    border-color: #445069;
    background-color: #445069;
}

#create-button{
    padding: 1vh 1.25vh;
    font-size: medium;
}

.checkList{
    display: flex;
    background-color: #272829;
    border-radius: 10px;
    padding: 0 1%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    padding: 1px 1vh;
}

.item{
    color: #D8D9DA;
    font-size: large;
    margin-left: 6%;
}

.item-check-box {
    margin-left: auto;
    margin-right: 5%;
}

#list{

}

#mainList{
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    padding: 2%;
    padding-top: 1%;
    user-select: none;
}

.mainListItem{
    margin: 1vh;
    height: 25vh;
    background-color: #272829;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: larger;
    align-items:center;
    justify-content:center;
    display: flex;
    vertical-align: middle;

    text-transform: capitalize;

}

#addMainListItem{
    margin: 1vh;
    height: 25vh;
    background-color: #2f3133;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.circle{
    width: 20vh;
    height: 20vh;
    background-color: #272829;
    border-radius: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 17.5vh;
}

@media screen and (min-width: 1024px){
    #mainList{
        grid-template-columns: 24vw 24vw 24vw 24vw;
    }

}

.sideMenu{
    background-color: #2f3133;
    grid-column: 1;
    padding-top: 5px;
}

.sideMenuItem{
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: #272829;
    padding: 1vh;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: column;
    height: 100vh;
}

#backButton{
    color: rgba(255, 255, 255, 0.75);
    font-size: xx-large;
    cursor: pointer;
}